apt-transport-https==2.7.14build2
ca-certificates==20240203
curl==8.5.0-2ubuntu10.6
software-properties-common==0.99.49.1
jq==1.7.1-3build1
jsonnet==0.20.0+ds-1build2
docker-ce==5:27.3.1-1~ubuntu.24.04~noble
docker-ce-cli==5:27.3.1-1~ubuntu.24.04~noble
containerd.io==1.7.23-1
kubelet==1.30.8-1.1
kubeadm==1.30.8-1.1
kubectl==1.30.8-1.1
conntrack==1:1.4.8-1ubuntu1
cri-tools==1.30.1-1.1
kubernetes-cni==1.4.0-1.1
httpx~=0.28.1
fastapi~=0.115.6
pydantic~=2.10.4
boto3~=1.35.90
kubernetes~=31.0.0
ijson~=3.3.0
requests~=2.32.3
botocore~=1.35.90
mbutil~=0.3.0
pillow~=11.0.0