@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', Georgia, serif;
}

div.body p {
    hyphens: none;
}

h1.logo {
    text-align: center;
    font-size: 1.4rem;
}